# Flutter/Dart specific
**/build/
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/macos/Flutter/.last_build_id
**/macos/Flutter/FlutterPluginRegistrant.framework/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace

# Android
**/android/app/build/
**/android/build/
**/android/gradle/
**/android/gradlew
**/android/local.properties

# iOS
**/ios/Pods/
**/ios/Runner/.ios/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner/*.mode1v3
**/ios/Runner/*.mode2v3
**/ios/Runner/*.moved-aside
**/ios/Runner/Flutter/Flutter.framework/
**/ios/Runner/Flutter/Generated.xcconfig
**/ios/Runner/Flutter/flutter_export_environment.sh
**/ios/Runner/Flutter/flutter_preamble.sh
**/ios/Runner/Flutter/flutter_profile_mode.plist
**/ios/Runner/Flutter/flutter_runner.xcconfig
**/ios/Runner/Flutter/flutter_xcconfig_exclude_other.xcconfig
**/ios/*.pbxuser
**/ios/*.mode1v3
**/ios/*.mode2v3
**/ios/xcuserdata
**/ios/profile.mode

# Xcode
**/*.xcworkspace/
**/*.xcuserdatad/

# Flutter build
**/flutter_project/.dart_tool/
**/flutter_project/.flutter-plugins
**/flutter_project/.flutter-plugins-dependencies
**/flutter_project/.dart_tools/
**/flutter_project/build/
**/flutter_project/ios/Flutter/Flutter.framework/
**/flutter_project/ios/Flutter/Flutter.podspec
**/flutter_project/ios/Flutter/flutter_export_environment.sh
**/flutter_project/web/dev_compiler/
**/flutter_project/web/release/
**/flutter_project/web/packages/flutter_tools.stamp
**/flutter_project/web/packages/flutter_tools.trace
